<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/dataconfig/artinterface1/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/employees/main/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/employees/add/styles.css">
  
  <link rel="stylesheet" href="/css/dataconfig/articles/employees/view/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/employees/edit/styles.css">

<body>
  <%- include('partials/dataconfig/interface/exitarrow') %>

    <%- include('partials/dataconfig/articles/employees/main') %>
    <%- include('partials/dataconfig/articles/employees/add') %>
    <%- include('partials/dataconfig/articles/employees/view') %>
    <%- include('partials/dataconfig/articles/employees/edit') %>


        <script type="module" src="/scripts/dataconfig/articles/employees/script.js"></script>

</body>

</html>