<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/dataconfig/artinterface3/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/products/main/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/products/ask/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/products/book/add/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/products/separ/add/styles.css">

<body>
  <%- include('partials/dataconfig/interface/exitarrow') %>

    <%- include('partials/dataconfig/articles/products/main') %>
      <%- include('partials/dataconfig/articles/products/askAdd') %>

        <%- include('partials/dataconfig/articles/products/book/addBook') %>

        <%- include('partials/dataconfig/articles/products/separ/addSepar') %>

          <script type="module" src="/scripts/dataconfig/articles/products/script.js"></script>

          <script type="module" src="/scripts/dataconfig/articles/products/book/add.js"></script>

          <script type="module" src="/scripts/dataconfig/articles/products/separ/add.js"></script>
</body>

</html>