<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/dataconfig/artinterface1/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/providors/main/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/providors/add/styles.css">
  
  <link rel="stylesheet" href="/css/dataconfig/articles/providors/edit/styles.css">
  
  <link rel="stylesheet" href="/css/dataconfig/articles/providors/delete/styles.css">

  <link rel="stylesheet" href="/css/dataconfig/articles/providors/confirm_delete/styles.css">

<body>
  <%- include('partials/dataconfig/interface/exitarrow') %>

    <%- include('partials/dataconfig/articles/providors/main') %>

      <%- include('partials/dataconfig/articles/providors/add') %>

      <%- include('partials/dataconfig/articles/providors/edit') %>

      <%- include('partials/dataconfig/articles/providors/delete') %>

        <script type="module" src="/scripts/dataconfig/articles/providors/script.js"></script>

</body>

</html>