<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/logotipo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/css/fullstorage/interface/styles.css">
  
  <link rel="stylesheet" href="/css/fullstorage/pathselector/styles.css">
  
  <link rel="stylesheet" href="/css/fullstorage/main/styles.css">

  <link rel="stylesheet" href="/css/fullstorage/askScreens/styles.css">
</head>

<body>
  <%- include('partials/fullstorage/interface/header') %>
  
  <%- include('partials/interface/version') %>
  
  <%- include('partials/fullstorage/interface/components/exitarrow') %>

  <%- include('partials/fullstorage/interface/pathselector') %>
  
  <%- include('partials/fullstorage/interface/main') %>
  
  <%- include('partials/fullstorage/interface/askscreen1') %>

  <script type="module" src="/scripts/fullstorage/hub/script.js"></script>
  
</body>

</html>